---
import MainLayout from "../layouts/MainLayout.astro";
import Me from "../images/me.webp";
import { Image } from "astro:assets";
const pageTitle = "About Me";
---

<MainLayout title={pageTitle}>
  <section
    class="flex flex-col-reverse justify-between gap-10 my-10 sm:flex-row"
  >
    <div class="flex-1">
      <h1 class="text-2xl font-bold">{pageTitle}</h1>
      <br />
      <p>
        Hi! I'm Andrew. I'm a Software Engineer recently moved to the Boston
        area from New York City.
      </p>
      <br />
      <p>
        My first true cool computer adventure was creating macros to play
        time-based games while I was away from my computer. This was in the
        early 2000s, when the internet felt like a much more magical place.
      </p>
      <br />
      <p>It was the last tech adventure I'd have for a long time.</p>
      <br />
      <p>
        When I began learning how to program at the end of 2020, I was
        immediately hooked! It was like the internet was a whole new world
        waiting to be explored again.
      </p>
      <br />
      <p>
        Nowadays, I enjoy building products people love, expanding my knowledge
        of the vast world of software engineering, and collaborating with teams
        to bring new ideas to life and revitalize existing ones to deliver
        something fresh and exciting.
      </p>
      <br />
      <p>
        I'm always on the hunt for new adventure and challenges. Want to chat? <a
          href="/#lets-connect"
          class="underline underline-offset-2">Let's connect</a
        >!
      </p>
    </div>
    <div
      class="relative mx-auto rounded-full w-48 h-48 self-start overflow-hidden bg-gradient-to-b from-pink-600 to bg-pink-500 to sm:w-48 sm:h-48 sm:sticky sm:top-28"
    >
      <Image
        src={Me}
        alt="Andrew Rowley with pink gradient background."
        loading="eager"
      />
    </div>
  </section>
</MainLayout>
