---
import Layout from "../layouts/MainLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const blogPosts = await Astro.glob("./blog/*.md");
---

<Layout title="Andrew Rowley's Software Engineering Blog">
  <h1>I am the blog</h1>
  <div class="mt-10 grid sm:grid-cols-2">
    {
      blogPosts?.map((post) => {
        return <BlogPost post={post} />;
      })
    }
  </div>
</Layout>
