---
import Layout from "../layouts/MainLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const blogPosts = await Astro.glob("./blog/*.md");
---

<Layout title="Andrew Rowley's Software Engineering Blog">
  <header class="my-10 text-center">
    <h1 class="text-3xl font-bold">The Blog</h1>
    <p>Read my thoughts. No telepathy required.</p>
  </header>
  <div class="grid gap-4 sm:grid-cols-2">
    {
      blogPosts?.map((post) => {
        return <BlogPost post={post} />;
      })
    }
  </div>
</Layout>
