---
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");

const sortedPosts = [...blogPosts]
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
  )
  .slice(0, 5);
---

<section id="recent-posts" class="my-14">
  <h3 class="font-semibold text-lg">
    <a href="#recent-posts">Recent Blog Posts</a>
  </h3>
  <ul class="mt-4 flex flex-col gap-4">
    {
      sortedPosts.map((post) => (
        <li class="border border-neutral-800 rounded-md duration-150 hover:bg-pink-600 active:text-neutral-50 hover:text-neutral-50">
          <a href={`/blog/${post.slug}`} class="block p-4">
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="mt-4 flex justify-end">
    <a
      href="/blog"
      class="cursor-pointer px-3 py-1 rounded-md border border-neutral-800 bg-neutral-800 text-neutral-50 hover:bg-neutral-950"
      >View all posts</a
    >
  </div>
</section>
