---
import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blog');
---

<section class='my-14'>
  <h2 class='font-semibold'>Thoughts</h2>
  <ul class='mt-2 flex flex-col divide-y divide-neutral-800'>
    {
      blogPosts.map(post => (
        <li class='rounded-md duration-150 relative group'>
          <a
            href={`/blog/${post.data.slug}`}
            class='flex items-center justify-between py-4'
          >
            <h3 class='font-semibold text-sm group-hover:text-pink-600'>
              {post.data.title}
            </h3>
            <p class='text-xs text-neutral-500 group-hover:text-pink-600'>
              {new Date(post.data.pubDate).toLocaleDateString('en-US', {
                month: 'short',
                day: 'numeric',
                year: 'numeric',
                timeZone: 'UTC',
              })}
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</section>
