---
const { post } = Astro.props;
---

<a
  href={post.url}
  class="border border-slate-800 p-4 text-sm rounded-lg duration-300 hover:shadow-xl hover:bg-pink-600 hover:text-slate-50"
>
  <article>
    <h2 class="font-bold text-base">{post.frontmatter.title}</h2>
    <p class="mt-2 text-sm">{post.frontmatter.description}</p>
  </article>
</a>
