---
import { slugify } from "@/utils";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  href: string;
}
const { title, description, pubDate, href } = Astro.props;
---

<li>
  <article
    class="relative space-y-2 group transition-all duration-300 p-4 hover:bg-neutral-900 rounded-lg"
  >
    <h3 class="font-semibold">
      <a href={href}>
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
    <p class="mt-1 text-sm text-neutral-400">
      {description}
    </p>
    <time class="text-xs text-muted-foreground">
      {
        new Date(pubDate).toLocaleDateString("en-US", {
          month: "short",
          day: "numeric",
          year: "numeric",
          timeZone: "UTC",
        })
      }
    </time>
  </article>
</li>
