---
import { slugify } from "@/utils";
import { getCollection } from "astro:content";
import ContentListItem from "./ContentListItem.astro";
const insights = await getCollection("insights");
---

{
  insights.length > 0 && (
    <section id="insights" class="mt-14 mb-4 space-y-2">
      <h2 class="font-semibold text-neutral-400">Insights</h2>
      <ul class="flex flex-col divide-y divide-accent-foreground">
        {insights
          .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
          .map((insight) => (
            <ContentListItem
              title={insight.data.title}
              description={insight.data.description}
              pubDate={insight.data.pubDate}
              href={`/insights/${slugify(insight.data.title)}`}
            />
          ))}
      </ul>
    </section>
  )
}
