---
import { Image } from "astro:assets";
import LinkedInIcon from "../icons/linkedin.astro";
import GithubIcon from "../icons/github.astro";
import TwitterIcon from "../icons/twitter.astro";
import { siteDescription } from "../constants";
import CustomTooltip from "./CustomTooltip";
import EmailSonner from "./EmailSonner";
import Me from "../images/me.webp";
---

<header
  class="flex flex-col-reverse justify-between items-start mt-10 mx-auto sm:gap-8 sm:flex-row"
>
  <div class="flex-1 max-w-md">
    <h1 class="font-semibold">Andrew Rowley</h1>
    <p class="font-medium text-muted-foreground">
      Software Engineer. Creative Strategist.
    </p>
    <p class="my-4">{siteDescription}</p>
    <div class="flex gap-3 text-sm">
      <div
        class="relative flex items-center text-muted-foreground gap-1 group text-xs sm:text-sm"
      >
        <CustomTooltip client:load content="LinkedIn">
          <a
            href="https://www.linkedin.com/in/internetdrew/"
            class="transition-colors duration-150 group-hover:text-pink-600"
          >
            <LinkedInIcon
              class="dark:fill-muted-foreground size-5 transition-colors duration-150 group-hover:fill-pink-600 dark:group-hover:fill-pink-600"
            />
          </a>
        </CustomTooltip>
      </div>
      <div class="relative flex items-center text-muted-foreground gap-1 group">
        <CustomTooltip client:load content="GitHub">
          <a
            href="https://github.com/internetdrew"
            class="transition-colors duration-150 group-hover:text-pink-600"
          >
            <GithubIcon
              class="dark:fill-muted-foreground size-5 transition-colors duration-150 group-hover:fill-pink-600 dark:group-hover:fill-pink-600"
            />
          </a>
        </CustomTooltip>
      </div>
      <div class="relative flex items-center text-muted-foreground gap-1 group">
        <CustomTooltip client:load content="X/Twitter">
          <a
            href="https://x.com/_internetdrew"
            class="transition-colors duration-150 group-hover:text-pink-600"
          >
            <TwitterIcon
              class="dark:fill-muted-foreground size-4 transition-colors duration-150 group-hover:fill-pink-600 dark:group-hover:fill-pink-600"
            />
          </a>
        </CustomTooltip>
      </div>
      <EmailSonner client:load />
    </div>
  </div>
  <div
    class="select-none rounded-full w-16 h-16 self-start overflow-hidden bg-pink-600 to sm:w-36 sm:h-36 sm:self-center"
  >
    <Image
      src={Me}
      alt="a photo of andrew rowley with a pink gradient background"
    />
  </div>
</header>
