<header
  class="flex flex-col-reverse justify-between items-start mt-10 max-w-screen-sm mx-auto sm:gap-8 sm:flex-row"
>
  <div class="flex-1">
    <h1 class="font-semibold sm:text-xl">Andrew Rowley</h1>
    <h2 class="font-medium text-slate-600 sm:text-lg">
      Full-Stack Software Developer
    </h2>
    <span class="text-slate-600 text-sm">New York, EST</span>
    <p class="mt-2">
      I build web applications. I enjoy taking products from 0 to 1,
      implementing intuitive user interfaces, and shipping features that drive
      greater product impact and UX.
    </p>
  </div>
  <div class="rounded-full w-14 h-14 self-start bg-red-300 sm:w-36 sm:h-36">
    <img src="" alt="" />
  </div>
</header>
