---
import { Image } from 'astro:assets';
import LinkedInIcon from '../icons/linkedin.astro';
import GithubIcon from '../icons/github.astro';
import TwitterIcon from '../icons/twitter.astro';
import Me from '../images/me.webp';
import { siteDescription } from '../constants';
---

<header
  class='flex flex-col-reverse justify-between items-start mt-10 mx-auto sm:gap-8 sm:flex-row'
>
  <div class='flex-1'>
    <h1 class='font-semibold'>Andrew Rowley</h1>
    <p class='font-medium text-neutral-500'>
      Developer. Strategist. Storyteller.
    </p>
    <p class='my-4 max-w-md'>{siteDescription}</p>
    <div class='flex gap-4 text-sm'>
      <div class='relative flex items-center text-neutral-500 gap-1 group'>
        <LinkedInIcon
          class='fill-neutral-500 size-4 transition-colors duration-150 group-hover:fill-pink-600'
        />
        <a
          href='https://www.linkedin.com/in/internetdrew/'
          target='_blank'
          rel='noreferrer noopener'
          class='transition-colors duration-150 group-hover:text-pink-600'
        >
          <span class='absolute inset-0'></span>
          LinkedIn
        </a>
      </div>
      <div class='relative flex items-center text-neutral-500 gap-1 group'>
        <GithubIcon
          class='fill-neutral-500 size-4 transition-colors duration-150 group-hover:fill-pink-600'
        />
        <a
          href='https://github.com/internetdrew'
          target='_blank'
          rel='noreferrer noopener'
          class='transition-colors duration-150 group-hover:text-pink-600'
        >
          <span class='absolute inset-0'></span>
          GitHub
        </a>
      </div>
      <div class='relative flex items-center text-neutral-500 gap-1 group'>
        <TwitterIcon
          class='fill-neutral-500 size-4 transition-colors duration-150 group-hover:fill-pink-600'
        />
        <a
          href='https://x.com/_internetdrew'
          target='_blank'
          rel='noreferrer noopener'
          class='transition-colors duration-150 group-hover:text-pink-600'
        >
          <span class='absolute inset-0'></span>
          Twitter
        </a>
      </div>
    </div>
  </div>
  <div
    class='rounded-full w-16 h-16 self-start overflow-hidden bg-gradient-to-b from-pink-600 to bg-pink-600 to sm:w-36 sm:h-36 sm:self-center'
  >
    <Image
      src={Me}
      alt='a photo of andrew rowley with a pink gradient background'
    />
  </div>
</header>
