---
import { Image } from "astro:assets";
import linkedInIcon from "../icons/linkedin-logo.svg";
import githubIcon from "../icons/github-logo.svg";
import Me from "../images/me.webp";
---

<header
  class="flex flex-col-reverse justify-between items-start mt-10 max-w-screen-sm mx-auto sm:gap-8 sm:flex-row"
>
  <div class="flex-1">
    <h1 class="font-semibold text-lg sm:text-xl">Andrew Rowley</h1>
    <h2 class="font-medium text-slate-600 sm:text-lg">Software Engineer</h2>
    <p class="mt-2">
      I love taking ideas and turning them into products that people can't put
      down. I focus on creating interfaces that just make sense, and I always
      keep my ear to the ground for feedback to make sure it hits the mark.
    </p>
    <div class="flex gap-2 mt-2">
      <a
        href="https://www.linkedin.com/in/internetdrew/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          id="linkedInIcon"
          src={linkedInIcon.src}
          alt="LinkedIn icon"
          class="rounded-lg p-1 duration-150 bg-slate-700 hover:bg-slate-800"
        />
      </a>
      <a
        href="https://github.com/internetdrew"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          id="githubIcon"
          src={githubIcon.src}
          alt="Github icon"
          class="rounded-lg p-1 duration-150 bg-slate-700 hover:bg-slate-800"
        />
      </a>
    </div>
  </div>
  <div
    class="rounded-full w-16 h-16 self-start overflow-hidden bg-gradient-to-b from-pink-600 to bg-pink-500 to sm:w-36 sm:h-36"
  >
    <Image
      src={Me}
      alt="a photo of andrew rowley with a pink gradient background"
    />
  </div>
</header>
