<header class="flex justify-between items-center mt-8 max-w-screen-sm mx-auto gap-6">
 <div class="flex-1">
  <h1 class="text-xl font-semibold">Andrew Rowley</h1>
  <h2 class="text-lg font-semibold">Full-Stack Software Developer</h2>
  <p>I build web applications. I enjoy taking products from 0 to 1, implementing intuitive user interfaces, and shipping product features that drive greater product impact and user experience.</p>
 </div>
 <div class="rounded-full w-32 h-32 bg-red-300">
  <img src="" alt="">
 </div>
</header>