---
const navItems = [
  { name: "Guides", href: "/guides" },
  { name: "Insights", href: "/insights" },
];
---

<nav class="bg-neutral-950 mx-auto py-4 sticky top-0 z-10 max-w-screen-md">
  <div class="px-4 flex justify-between items-center text-sm sm:text-base">
    <a href="/" class="transition-colors hover:text-pink-600">Internet Drew</a>

    <ul class="flex items-center gap-4">
      {
        navItems.map((item) => (
          <li>
            <a href={item.href} class="transition-colors hover:text-pink-600">
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
