---
import ProjectCard from "./ProjectCard.astro";

export interface Project {
  title: string;
  description: string;
  githubUrl: string | null;
  siteUrl: string;
  status: "work-in-progress" | "live";
}

const projects: Project[] = [
  {
    title: "Let's Share Recipes",
    description:
      "A plaform where you can easily share your best recipes with friends and family.",
    githubUrl: null,
    siteUrl: "https://share-rec-2.vercel.app/",
    status: "work-in-progress",
  },
  {
    title: "NYC Crash Radar",
    description: "See all reported vehicle collisions in New York City.",
    githubUrl: "https://github.com/internetdrew/nyc-crash-radar",
    siteUrl: "https://nyc-crash-radar.vercel.app/",
    status: "live",
  },
  {
    title: "Gather Social",
    description: "Create private timelines for your special events.",
    githubUrl: null,
    siteUrl: "https://gather-social.vercel.app/",
    status: "live",
  },
  {
    title: "Lesson Collab",
    description:
      "A social network for educators to share and get feedback on lesson plans.",
    githubUrl: "https://github.com/internetdrew/lesson-feed",
    siteUrl: "https://www.lessoncollab.com/",
    status: "live",
  },
];
---

<section class="my-10">
  <h3 class="font-semibold text-lg">Things I've Built</h3>
  <ul class="mt-2 grid gap-4 sm:grid-cols-2">
    {projects.map((project) => <ProjectCard {...project} />)}
  </ul>
</section>
