---
import ProjectCard from "./ProjectCard.astro";

export interface Project {
  title: string;
  description: string;
  siteUrl: string;
}

const projects: Project[] = [
  {
    title: "Where's the Garlic?!",
    description: "The kitchen management system for organized foodies.",
    siteUrl: "https://www.wheresthegarlic.com/",
  },
  {
    title: "Vite-Express-Vercel Starter Kit",
    description:
      "Easily deploy a full-stack app with a Vite-based React frontend and an Express-based backend on Vercel.",
    siteUrl: "https://github.com/internetdrew/vite-express-vercel",
  },
  {
    title: "React, Express, and tRPC on Vercel Starter Kit",
    description:
      "Starter template to deploy React, Express, and tRPC on Vercel.",
    siteUrl: "https://github.com/internetdrew/vite-react-express-trpc-vercel",
  },
  {
    title: "The HYBRD Launch Video",
    description:
      "The launch video for YC-backed fitness startup, HYBRD, an app for hybrid athletes.",
    siteUrl:
      "https://www.linkedin.com/posts/hybrd-do-hard-things_today-is-the-day-hybrd-is-officially-live-activity-7320812769795072000-fvRV",
  },
];
---

<section class="my-14">
  <h2 class="font-semibold">Things</h2>
  <ul class="mt-2 grid gap-4 sm:grid-cols-2">
    {projects.map((project) => <ProjectCard project={project} />)}
  </ul>
</section>
