---
import ProjectCard from './ProjectCard.astro';

export enum ProjectStatus {
  InProgress = 'in-progress',
  Live = 'live',
}

export interface Project {
  title: string;
  description: string;
  githubUrl: string | null;
  siteUrl: string;
  status: ProjectStatus;
}

const projects: Project[] = [
  {
    title: 'Skynet Solutions',
    description:
      'A satirical landing page for an AI enterprise that takes automation way too far.',
    githubUrl: null,
    siteUrl: 'https://www.skynetsolutions.app/',
    status: ProjectStatus.Live,
  },
  {
    title: "Where's the Garlic?!",
    description:
      'A home grocery inventory app designed to make managing your groceries a breeze.',
    githubUrl: null,
    siteUrl: 'https://www.wheresthegarlic.com/',
    status: ProjectStatus.Live,
  },
];
---

<section class='my-14'>
  <h2 class='font-semibold'>Work</h2>
  <ul class='mt-2 grid gap-4 sm:grid-cols-2'>
    {projects.map(project => <ProjectCard {...project} />)}
  </ul>
</section>
