---
import ProjectCard from './ProjectCard.astro';

export enum ProjectStatus {
  InProgress = 'in-progress',
  Live = 'live',
}

export interface Project {
  title: string;
  description: string;
  siteUrl: string;
  status: ProjectStatus;
}

const projects: Project[] = [
  {
    title: 'Skynet Solutions',
    description:
      'A satirical landing page for an AI enterprise that takes automation way too far.',
    siteUrl: 'https://www.skynetsolutions.app/',
    status: ProjectStatus.Live,
  },
  {
    title: "Where's the Garlic?!",
    description:
      'Easily keep track of your groceries and manage your favorite recipes in one place.',
    siteUrl: 'https://www.wheresthegarlic.com/',
    status: ProjectStatus.Live,
  },
  {
    title: 'Vite-Express-Vercel Starter Kit',
    description:
      'Easily deploy a full-stack app with a Vite-based React frontend and an Express-based backend on Vercel.',
    siteUrl: 'https://github.com/internetdrew/vite-express-vercel',
    status: ProjectStatus.Live,
  },
];
---

<section class='my-14'>
  <h2 class='font-semibold'>Things</h2>
  <ul class='mt-2 grid gap-4 sm:grid-cols-2'>
    {projects.map(project => <ProjectCard project={project} />)}
  </ul>
</section>
