---
import ProjectCard from './ProjectCard.astro';

export enum ProjectStatus {
  InProgress = 'in-progress',
  Live = 'live',
}

export interface Project {
  title: string;
  description: string;
  githubUrl: string | null;
  siteUrl: string;
  status: ProjectStatus;
}

const projects: Project[] = [
  // {
  //   title: "In MetroWest",
  //   description:
  //     "A modern business directory for MetroWest Massachusetts, helping people find local businesses and services with ease.",
  //   githubUrl: null,
  //   siteUrl: "https://www.inmetrowest.com/",
  //   status: "live",
  // },
  // {
  //   title: "Hackers, The Unofficial Movie API",
  //   description:
  //     'An API based on the 1995 movie "Hackers". Get information on characters, organizations, quotes, and more.',
  //   githubUrl: "https://github.com/internetdrew/hackers-the-api",
  //   siteUrl: "https://hackerstheapi.com/",
  //   status: "live",
  // },
  // {
  //   title: "Let's Share Recipes",
  //   description: "Easily share your best recipes with friends and family.",
  //   githubUrl: null,
  //   siteUrl: "https://share-rec-2.vercel.app/",
  //   status: "work-in-progress",
  // },
  // {
  //   title: "Gather Social",
  //   description: "Create private timelines for your special events.",
  //   githubUrl: "https://github.com/internetdrew/gather-social",
  //   siteUrl: "https://gather-social.vercel.app/",
  //   status: "live",
  // },
  {
    title: 'Lost & Found HQ',
    description: 'Helping businesses reunite customers with their lost items.',
    githubUrl: 'https://github.com/internetdrew/lost-and-found-hq',
    siteUrl: 'https://www.lostandfoundhq.com/',
    status: ProjectStatus.InProgress,
  },
  {
    title: 'Skynet Solutions',
    description:
      'A satirical website for an AI enterprise that takes automation way too far.',
    githubUrl: 'https://github.com/internetdrew/skynet-solutions',
    siteUrl: 'https://www.skynetsolutions.app/',
    status: ProjectStatus.Live,
  },
];
---

<section id='projects' class='my-14'>
  <h3 class='font-semibold text-lg'><a href='#projects'>Projects</a></h3>
  <ul class='mt-2 grid gap-4 sm:grid-cols-2'>
    {projects.map(project => <ProjectCard {...project} />)}
  </ul>
</section>
