---
import { type Project } from "./Projects.astro";

import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<Card className="bg-transparent">
  <CardHeader>
    <CardTitle>{project.title}</CardTitle>
    <CardDescription>{project.description}</CardDescription>
  </CardHeader>
  <CardFooter className="mt-auto relative">
      <a href={project.siteUrl} target="_blank" rel="noreferrer" class="text-sm underline-offset-4 hover:text-pink-600 hover:underline">
        View Project
      </a>
  </CardFooter>
</Card>