---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { slugify } from "../../utils";
import ContentListItem from "@/components/ContentListItem.astro";

const tutorials = await getCollection("tutorials");
---

<MainLayout
  title="Tutorials | Internet Drew"
  description="Guides and tutorials on web development and related technologies."
>
  <header class="text-center mt-24">
    <h1 class="text-2xl font-medium">Tutorials</h1>
    <p class="max-w-lg mx-auto font-light mt-6 md:text-lg text-neutral-400">
      Docs tell you <em>what</em> exists. These guides lead with <em>why</em> things
      matter and <em>when</em> to use them. Every tutorial begins with context and
      ends with something you can run. Learn how tools connect, when they shine,
      and what trade-offs they bring.
    </p>
  </header>

  {
    tutorials.length > 0 ? (
      <ul class="flex flex-col max-w-screen-sm mx-auto mt-16 gap-4">
        {tutorials.map((tutorial) => (
          <ContentListItem
            title={tutorial.data.title}
            description={tutorial.data.description}
            pubDate={tutorial.data.pubDate}
            href={`/tutorials/${slugify(tutorial.data.title)}`}
          />
        ))}
      </ul>
    ) : (
      <p class="text-center mt-16">No tutorials found.</p>
    )
  }
</MainLayout>
