---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Andrew Rowley's software engineering portfolio."
    />
    <meta property="og:title" content={title} />

    <meta
      property="og:image"
      content="https://internetdrew.com/andrew-rowley-software-engineer-banner.png"
    />
    <meta
      property="og:image:secure_url"
      content="https://internetdrew.com/andrew-rowley-software-engineer-banner.png"
    />
    <meta
      property="og:url"
      content={`https://internetdrew.com${currentPath}`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Internet Drew" />
    <meta
      name="twitter:image"
      content="https://internetdrew.com/andrew-rowley-software-engineer-banner.png"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-50">
    <main class="max-w-screen-sm mx-auto px-4 font-mono text-slate-800">
      <Navbar />
      <slot />
    </main>
  </body>
</html>
